*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.plan_title{
    background-color: rgb(5, 5, 5);
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan_h2{
    font-family: "Oswald",sans-serif;
    color: aliceblue;
}
.plan_span{
    font-family: "Muli",sans-serif;
    -webkit-font-smoothing: antialiased;
}
